<html >

<head>
    <meta charset="utf-8">
    <%- include('bootstrap_head'); -%>
    <%- include('header'); -%>
    <script>
        // $(document).ready(function(){
        //     console.log("READDDYYY");
        //     $('#delete_place').on('click', function(e){
        //         $target = $(e.target);
        //         const id = $target.attr('place-id');
        //         console.log("id is" + id);
        //         $.ajax({
        //         type:'DELETE',
        //         url: '/placedel/'+ id,
        //         success: function(response){
        //             alert('Deleting Place');
        //             window.location.href='/';
        //         },
        //         error: function(err){
        //             console.log(err);
        //         }
        //         });
        //     });
        // });
        function delete_place(place_id){
            console.log("The id is "+ place_id);
            const Http = new XMLHttpRequest();
            const url = "/admin/place/"+ place_id;
            Http.open("DELETE", url);
            Http.setRequestHeader('placeId', place_id);
            Http.send();
            Http.onreadystatechange=(e)=>{
                // document.open();
                // document.write(Http.responseText);
                // document.close();
                window.location.href='/';
            }
        }
    </script>

</head>

<body>
    <div class="container">
        <h2>Places</h2>
    </div>
    <ul class="list-group">
        <% for(var i=0; i < places.length; i++) {%>
               <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header font-weight-bold"><%= places[i].title %></div>
                            <!-- <a href="#" class="btn btn-outline-danger float-right" id="delete_place" place-id= <%= places[i]._id %> >Delete</a>  -->
                             <button class="btn btn-outline-danger" onclick="delete_place('<%=places[i]._id%>')">Delete</button> 
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Price</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].price %> $/day</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Size</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].size %> m^2</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Address</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].address %></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Description</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].description%></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Available Time Intervals</h6>
                                    </div>
                                </div>
                                    <% for(var j=0; j < places[i].availabilityIntervals.length; j++) {%>
                                        <div class="row">
                                            <div class="col-3">
                                                <h6 class="font-weight-light">From</h6>
                                            </div>
                                            <div class="col-9">
                                                <h6 class="font-weight-bold"><%= places[i].availabilityIntervals[j].startDate%></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <h6 class="font-weight-light">To</h6>
                                            </div>
                                            <div class="col-9">
                                                <h6 class="font-weight-bold"><%= places[i].availabilityIntervals[j].endDate%></h6>
                                            </div>
                                        </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

        <% } %>
    </ul>
</body>

</html>