<html>
<head>
    <%- include('bootstrap_head'); -%>
    <title><%= place.title %></title>
</head>

<body>
<%- include('header'); -%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header font-weight-bold"><%= place.title %> Details
                    <%if(settings.canEdit){%>
                        <a href="/owner/edit_place/<%=place._id%>">
                            Edit Place
                        </a>
                    <%}else{%>
                    <
                    <form action="/offer/apply/<%=place._id%>" method="post">
                    <div id = "availabilityIntervalsDiv">
                        <label class="col-md-4 control-label">From</label>
                        <div class="col-md-6">
                            <input id="startDate" name="startDate" type="Date" placeholder="Phone" class="form-control input-md">

                            <label class="col-md-4 control-label" >To</label>
                            <div class="col-md-6">
                                <input id="endDate" name="endDate" type="Date" placeholder="Phone" class="form-control input-md">
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary">Add offer</button>
                    </form>
                    <%}%>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <h6 class="font-weight-light">Price</h6>
                        </div>
                        <div class="col-9">
                            <h6 class="font-weight-bold"><%= place.price %> $/day</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 class="font-weight-light">Size</h6>
                        </div>
                        <div class="col-9">
                            <h6 class="font-weight-bold"><%= place.size %> m^2</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 class="font-weight-light">Address</h6>
                        </div>
                        <div class="col-9">
                            <h6 class="font-weight-bold"><%= place.address %></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 class="font-weight-light">Description</h6>
                        </div>
                        <div class="col-9">
                            <h6 class="font-weight-bold"><%= place.description %></h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="font-weight-light">Reviews
                                <%if(settings.canReview){%>
                                <button class="btn btn-success bs-tooltip-right" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="true" aria-controls="filters">
                                    Add Your Own Review
                                </button>
                                <%}%>
                            </h3>
                        </div>
                    </div>
                    <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%=success%>
                    </div>
                    <% } %>
                    <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%=error%>
                    </div>
                    <% } %>
                    <div class="row p-3 collapse"  id="filters">
                        <div class="col-12">
                            <div class="card card-body">
                                <form action="/place/review/<%=place._id%>" method="get">
                                    <div class="row p-1">
                                        <div class="col-2">
                                            <h6 class="font-weight-bold p-1">Your Review:</h6>
                                        </div>
                                        <div class="col-5">
                                            <div class="input-group">
                                                <textarea rows="2" type="text" name="review" class="form-control" id="address" placeholder="e.g Maadi"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-5 text-center align-self-center">
                                            <button type="submit" class="btn btn-success">Add Review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group list-group-flush">
                                <%for(let i = 0; i < place.reviews.length; i++) {%>
                                <li class="list-group-item"><%=i+1+". "%><%=place.reviews[i].reviewText%></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
