<html>
<head>
    <%- include('bootstrap_head'); -%>
    <title>Offers You Made</title>
    <script>
        //TODO we can do better
        function cancel_offer(place_id, offer_id, tenant_id){
            const Http = new XMLHttpRequest();
            const url = "/offer/cancel/"+offer_id;
            Http.open("GET", url);
            Http.setRequestHeader('placeId', place_id);
            Http.setRequestHeader('tenantId', tenant_id);
            Http.send();
            Http.onreadystatechange=(e)=>{
                document.open();
                document.write(Http.responseText);
                document.close();
            }
        }
    </script>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <% if(success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%=success%>
            </div>
            <% } %>
            <% if(error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
            <% } %>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header font-weight-bold">All the Offers You Made</div>
                <div class="card-body">
                    <div class="row">
                        <%for (var i=0; i<places.length;i++){%>
                        <%for (var j=0; j<places[i].offersLog.length;j++) {%>
                            <% if (places[i].offersLog[j].status == "accepted"){%>
                            <div class="col-12 alert alert-success" role="alert">
                                <h4 class="alert-heading"> <%=places[i].title%> <span class="badge badge-success">Accepted</span> </h4>
                                <div><strong>Offer Start Date:</strong> <%=places[i].offersLog[j].offerInterval.startDate%> </div>
                                <div><strong>Offer End Date:</strong>  <%=places[i].offersLog[j].offerInterval.endDate%> </div>
                            </div>
                            <%}else if(places[i].offersLog[j].status == "rejected"){%>
                            <div class="col-12 alert alert-danger" role="alert">
                                <h4 class="alert-heading"> <%=places[i].title%> <span class="badge badge-danger">Rejected</span> </h4>
                                <div><strong>Offer Start Date:</strong> <%=places[i].offersLog[j].offerInterval.startDate%> </div>
                                <div><strong>Offer End Date:</strong>  <%=places[i].offersLog[j].offerInterval.endDate%> </div>
                            </div>
                            <%}else{%>
                                <div class="col-12 alert alert-secondary" role="alert">
                                    <div class="row">
                                        <div class="col-8">
                                            <h4 class="alert-heading"><%=places[i].title%> <span class="badge badge-secondary">Pending</span> </h4>
                                            <div><strong>Offer Start Date:</strong> <%=places[i].offersLog[j].offerInterval.startDate%> </div>
                                            <div><strong>Offer End Date:</strong>  <%=places[i].offersLog[j].offerInterval.endDate%> </div>
                                        </div>
                                        <div class="col-4 align-self-center text-center">
                                            <button class="btn btn-secondary" onclick="cancel_offer('<%=places[i]._id%>', '<%=places[i].offersLog[j]._id.toString()%>','<%=tenant._id%>')">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                        <%}%>
                        <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>