<html >

<head>
    <meta charset="utf-8">
    <%- include('bootstrap_head'); -%>
</head>

<body>
    <section class="home">
    <h1><a href='/'> FireBnb  </a><h1>
    <h1>Places</h1>
    <% if(places.length == 0) {%>
        <div class="container">
            <h1>You have not added any place</h1>
            <h1><a href='/owner/add_place'>Click here to add </a></h1>
        </div>
    <%} else {%>


    <ul class="list-group">
        <% for(var i=0; i < places.length; i++) {%>
               <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header font-weight-bold"><%= places[i].title %></div>
                            <a href="#" class="btn btn-outline-danger float-right">Delete</a>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Price</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].price %> $/day</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Size</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].size %> m^2</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Address</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].address %></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Description</h6>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="font-weight-bold"><%= places[i].description%></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <h6 class="font-weight-light">Available Time Intervals</h6>
                                    </div>
                                </div>
                                    <% for(var j=0; j < places[i].availabilityIntervals.length; j++) {%>
                                        <div class="row">
                                            <div class="col-3">
                                                <h6 class="font-weight-light">From</h6>
                                            </div>
                                            <div class="col-9">
                                                <h6 class="font-weight-bold"><%= places[i].availabilityIntervals[j].startDate%></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <h6 class="font-weight-light">To</h6>
                                            </div>
                                            <div class="col-9">
                                                <h6 class="font-weight-bold"><%= places[i].availabilityIntervals[j].endDate%></h6>
                                            </div>
                                        </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

        <% } %>
    </ul>
    <% } %>
    </section>
</body>

</html>